.button{
    width: 10rem;
    margin-top: 1rem;
    margin-bottom: 1rem;
    height: 2rem;
    border-radius: 30px;
    outline: none;
    border: 1px solid transparent;
    background-color: #00ccff;
    color: white;
    font-size: larger;
    cursor: pointer;
}

.button:hover {
    background-color: #d500f9;
}