.container{
    max-width: 90%;
    width: 60%;
    min-height: 30rem;
}

.row:focus{
    background-color: #e555ff8a;
    color: white;
    font-weight: bolder;
}

.row:focus:hover{
    background-color: #e555ff8a;
}

.row:hover{
    background-color: #49dbff5f;
}

.cell{
    padding: 0.6rem;
}



.paginator > *{
    margin-top: 2rem;
    margin-inline: 1rem;
}